### please set path to src directory ###
SRC_DIR=/path/to/src

### change as you like
NGINX_PORT=8080

### do not change below values
DATA_DIR=./var/data
EXTRA_DATA_DIR=./var/extra-data
LOG_DIR_CROW=./var/log/crow
LOG_DIR_MONA=./var/log/mona
LOG_DIR_NAVI=./var/log/navi
LOG_DIR_FOX=./var/log/fox
LOG_DIR_PANTHER=./var/log/panther
LOG_DIR_JOKER=./var/log/joker
LOG_DIR_SKULL=./var/log/skull
LOG_DIR_NOIR=./var/log/noir
SQLITE_NAME=extra-data.sqlite3

ORCHESTRATION_WEBHOOK_SECRET=1234567890abcdef
NAVI_ORCHESTRATION_WEBHOOK_URL=http://navi:8000/orchestration/crow-completed
NAVI_ORCHESTRATION_WEBHOOK_TIMEOUT_SECONDS=5

ES_USER=elastic
ES_PASSWORD=elastic
ES_INDEX=patent-documents
MEM_LIMIT=1073741824