### please set path to src directory ###
SRC_DIR=/path/to/src

### change as you like
NGINX_PORT=8080

### do not change below values
MODE=production
KIND_OF_DATA=real
DATA_DIR=./var/data
EXTRA_DATA_DIR=./var/extra-data
LOG_DIR_MONA=./var/log/mona
LOG_DIR_FOX=./var/log/fox
LOG_DIR_PANTHER=./var/log/panther
LOG_DIR_JOKER=./var/log/joker
SQLITE_NAME=extra-data.sqlite3

ES_USER=elastic
ES_PASSWORD=elastic
ES_INDEX=patent-documents
MEM_LIMIT=1073741824
