SRC_DIR=./data/src_dir
DATA_DIR=./data/data_dir
EXTRA_DATA_DIR=./data/extra_dir
LOG_DIR_MONA=./data/log_dir/mona
LOG_DIR_FOX=./data/log_dir/fox
LOG_DIR_PANTHER=./data/log_dir/panther
LOG_DIR_JOKER=./data/log_dir/joker

ES_USER=elastic
ES_PASSWORD=elastic
ES_INDEX=patent-documents
MEM_LIMIT=1073741824

NGINX_PORT=8080
